* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: #faf3f3;
}

.deck-container {
  position: relative;
  top: 10px;
  height: 100vh;
  width: 100vw;
}

.header {
  position: relative;
  background: #faf3f3;
  display: block;
  width: 100%;
  overflow: auto;
  padding: 10px;
  z-index: 10;
}
